	@font-face { /* Définition d'une nouvelle police nommée font-face*/
	font-style: normal;
	font-family: 'noto-sans' ;
	src: url('noto-sans-fontfacekit.eot');
	src: url('noto-sans-fontfacekit.eot?#iefix') format('embedded-opentype'), url('noto-sans-fontfacekit.woff') format('woff'), url('noto-sans-fontfacekit.ttf') format('truetype'), url('noto-sans-fontfacekit.svg#noto-sans-fontfacekitregular') format('svg'); }


	
}
header 
{

 font-family: 'font-face', Arial, sans-sertif;
 color:#000;

}

header p{
	text-align: right;
}

a
{
	text-decoration: blink;
	color: black;
}

header img
{
	background-color: none;
}

header:hoover
{
	text-decoration: underline;
}

header:visited
{
	color:black;
}
    
.header1
{
    display: inline-flex;
	 position: relative;
    align-items: flex-end;
}
.header2
{
	display: inline-flex;
	justify-content: right;
  align-items: flex-end;
}

#account
{
	background-color: rgb(0, 128, 255);
	color: white;
	padding: 7px;
}

.toolbar
{
	margin: 20px;
	padding: 30px;
	background-color: white;
	border-style: solid;
	border-color: #C4C4C2;
	width: auto;
	max-width: 600px;
	text-align: center;
	margin-left: 500px;

}

body
{
	background-color: white;
	text-decoration:none;
	
	

}


#google {
	width:auto;
	text-align: center;
	
}

#bouton_google
{
	width: auto;
	margin: 40px;
	padding: 40px;
	border-radius: 10px;
	background-color: grey;
	text-align: center;
}

.recherche1
{
 background-color: #C4C4C2;
 padding: 10px;
 margin: 7px;
 float: left;	
 margin-left: 600px;

}

.recherche2
{
 background-color: #C4C4C2;
 padding: 10px;
 margin: 7px;
 float: left;	
 margin-left: 200px;

}

.reference
{
	
}

.bouton_google 
{
	width: auto;
	max-width: 900px;
	align-items: center;
	margin: 300px;
	padding: 30px;
}


.logo
{
  width: 50%;
  max-width: 300px
  
}

footer
{
	display: -moz-grid-line;
	background-color: #C4C4C2;
	margin-top:100px;
	text-align: right;
	

	}

.FR
{
	border-style: solid;
	margin-bottom: 20px;
	width: auto;
	max-width: 900px;
}
